footer{
    background: $colour-footer;
    color: $colour-white;
    padding:0 0 2*$grid-gutter 2*$grid-gutter;
    max-width: 1440px;
    margin: auto;
    & > h2{
        margin-bottom: $grid-gutter;
        padding-top: $grid-gutter;
    }
    li{
        margin-bottom: 0.5rem;
    }
    & i{
        margin-right: 1rem;
    }
    & a{
        color: $colour-white;
        &:hover{
            color:$colour-tertiary;
        }
    }
}
