*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

.logo {
  font-family: "Shrikhand", cursive;
}

i {
  font-size: 2rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

.btn {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #fff;
  border-radius: 4rem;
  padding: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.16) inset, 0px 0px 5px 0px #8641d8;
}

header {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

footer {
  background: #353535;
  color: #fff;
  padding: 0 0 1.5rem 1rem;
}
footer > h2 {
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
}
footer i {
  margin-right: 1rem;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #99e2d0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: #eaeaea;
}
.location i {
  margin-right: 1rem;
}
.location p {
  margin: 1.5rem 0 1.5rem 0;
}

.heading {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.heading__title {
  font-weight: 700;
  width: 80%;
  text-align: center;
  margin-top: 6rem;
}
.heading__subtitle {
  margin-top: 1.5rem;
  font-weight: 100;
  text-align: center;
  width: 80%;
}
.heading__btn {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #fff;
  border-radius: 4rem;
  padding: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  margin: 1.5rem 0 6rem 0;
}
.heading__btn:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.16) inset, 0px 0px 5px 0px #8641d8;
}

.functioning {
  margin: 6rem 0 6rem 1.5rem;
  width: 92%;
}
.functioning ul {
  margin-left: 0.8rem;
}

.step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  font-weight: 400;
  border-radius: 2rem;
  padding: 3rem;
  margin: 1.5rem 0 1.5rem 0;
  box-shadow: 0 1rem 1rem #e7e7e7;
}
.step i {
  color: #7e7e7e;
}
.step__number {
  background: #9356DC;
  border-radius: 4rem;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  right: 4.5rem;
}
.step__txt {
  margin: 0 1.5rem 0 1.5rem;
  width: 30rem;
}
.step--active {
  background: #f5edff;
}
.step--active i {
  color: #9356DC;
}

.restaurant {
  background: #f6f6f6;
  padding: 6rem 0 6rem 0;
}
.restaurant > h2 {
  margin: 0 0 1.5rem 1.5rem;
}

.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.restaurant-wrapper > a {
  width: 93%;
  background: transparent;
  margin-bottom: 1.5rem;
  border-radius: 4rem;
}

.restaurant-prev {
  /*background: url("../img/la_palette_du_gout.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  width: 100%;
  position: relative;
  min-width: 30rem;
  min-height: 35rem;
  border-radius: 2rem 2rem 3rem 3rem;
  box-shadow: 0 1rem 1rem #e7e7e7;
  /*    &__img{
          border-radius: 2rem
      }*/
  /*
  border-radius: 2rem;
  height: 35rem;

  @include shadow;*/
}
.restaurant-prev:hover {
  background: #f5edff;
}
.restaurant-prev__status {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
.restaurant-prev__status span {
  margin-right: 30px;
  color: #2c9c81;
  background-color: #99e2d0;
  font-weight: 700;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
}
.restaurant-prev img {
  object-fit: cover;
  min-height: 0;
  width: 100%;
  border-radius: 2rem 2em 0 0;
  height: 27rem;
}
.restaurant-prev__info {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0 0 2rem 2rem;
}
.restaurant-prev__info i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
