.loader{
    position:fixed;
    display: block;
    z-index: 1;
    top: 0;
    left:0;
    bottom: 0;
    right:0;
    width: 8rem;
    height: 8rem;
    margin: auto;
    @include loading-spinner;
    &:before{
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colour-background;
    }
}
.container{
    @include desktop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & > aside{
            order: 4;
        }
    }
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $colour-location;
    & i{
        position: relative;
        right: 2rem;
        bottom: 2px;
        
    }
    & h3{
        margin: $grid-gutter 0 $grid-gutter 0;
        font-weight: 400;
    }
    @include desktop{
        width: 100%;
    }
}
.heading{
    background: $colour-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include desktop{
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: $layout-margin;
        width: 100%;
    }
    &__title{
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding: $layout-margin 0.6*$layout-margin 0 0.6*$layout-margin;
        max-width: 45rem;
    }
    &__subtitle{
        margin-top: $grid-gutter;
        padding: 0 0.5*$grid-gutter;
        font-weight: 100;
        text-align: center;
        width:100%;
        max-width: 45rem;
    }
    &__btn{
        @include btn;
        margin: 2*$grid-gutter 0 $layout-margin 0;
        @include tablet {
            margin-top: $layout-margin;
        }
        @include desktop{
            position: relative;
            top: 3rem;
        }
        
    }
}
.functioning{
    padding:  $layout-margin 0 $layout-margin $grid-gutter;
    width: 90%;
    @include desktop{
        width: 35%;
    }
    & > ul{
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: map-get($breakpoints, tablet);
        @include tablet{
            margin: auto;
        }
    }
    & > h2{
        margin: 2*$grid-gutter $grid-gutter;
    }
}
.step{
    width: 100%;
    max-width: 54rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: $colour-background;
    border-radius: 2rem;
    padding: 3rem 2rem;
    margin: $grid-gutter 0;
    @include shadow;
    transition: transform .45s ease, background .45s ease-in-out;
    & i{
        color: $colour-icon;
        position: relative;
        right: 1rem;
    }
    &__number{
        background: $colour-primary;
        border-radius: 4rem;
        color:$colour-white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        position: relative;
        right: 3.5rem;
    }
    &__txt{
        margin: 0 $grid-gutter 0 $grid-gutter;
        width: 30rem;
        min-width: 223px;
        @include desktop{
            min-width: 0;
        }
    }
    &:hover{
        background:$colour-lightprimary;
        transform: scale(1.05);
        & i{
            color:$colour-primary;
        }
    }
    @include desktop{
        width: 90%;
    }
}
.restaurant{
    background: $colour-background;
    padding: $layout-margin 0;

    & > h2{
        margin: 0 0 $grid-gutter $grid-gutter;
    }
    @include desktop{
        background: transparent;
        width: 65%;
        & > h2{
            margin: $grid-gutter $layout-margin;
        }
    }
    
}
.restaurant-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%;
        @include tablet{
            flex-direction: row;
        }   
        @include desktop{
            flex-direction: row;
        }          
        
}
.restaurant-card{
    position: relative;
    width: 93%;
    background: transparent;
    margin-bottom: 2*$grid-gutter;
    border-radius: 4rem;
    @include tablet{
        width: 45%;
        margin: $grid-gutter;
    }
    @include desktop{
        
        background:$colour-background;
        
        border-radius: 2rem;
    }
}
.restaurant-prev{
    width: 100%;
    position: relative;
    min-width: 30rem;
    min-height: 29rem;
    border-radius: 2rem;
    transition: background .45s ease-in-out;
    @include shadow;
    &:hover{
        background:$colour-lightprimary;
        & img{
            transform: scale(1.1);
        }
    }
    @include desktop{
        min-width: 0;
        min-height: 0;
        height: 27rem;
    }
    &__status{
        padding-top: 15px;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;       
        color: darken($colour-tertiary, 35%);
        background-color: $colour-tertiary;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        @include desktop{
            padding: 0.5rem 1rem 0.5rem 1rem;
        }           
    }
    &__img{
        overflow: hidden;
        border-radius: 2rem 2rem 0 0;
    }

    & img{
        object-fit: cover;
        min-height: 0;
        width: 100%;
        height:20rem;
        transition: transform .5s ease-in-out;
        transform: scale(1.2);
        @include desktop{
            height: 20rem;
        }
        
    }
    &__info{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0 0 2rem 2rem;
        & i{
            margin-right: 10px;
        }
        @include desktop{
            top: 21rem;
        }
    }
    &__like{
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        @include like;
        @include desktop{
            bottom: 2rem;
        }
    }
}    