.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: $colour-location;
    & i{
        margin-right:1rem; 
    }
    & p{
        margin: $grid-gutter 0 $grid-gutter 0;
    }
}
.heading{
    background: $colour-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-weight: 700;
        width: 80%;
        text-align: center;
        margin-top: $layout-margin;
    }
    &__subtitle{
        margin-top: $grid-gutter;
        font-weight: 100;
        text-align: center;
        width:80%;
    }
    &__btn{
        @include btn;
        margin: $grid-gutter 0 $layout-margin 0;
    }
}
.functioning{
    margin:  $layout-margin 0 $layout-margin $grid-gutter;
    width: 92%;
    & ul{
        margin-left: 0.8rem;
    }
}
.step{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: $colour-background;
    font-weight: 400;
    border-radius: 2rem;
    padding: 3rem;
    margin: $grid-gutter 0 $grid-gutter 0;
    @include shadow;
    & i{
        color: $colour-icon;
    }
    &__number{
        background: $colour-primary;
        border-radius: 4rem;
        color:$colour-white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        position: relative;
        right: 4.5rem;
    }
    &__txt{
        margin: 0 $grid-gutter 0 $grid-gutter;
        width: 30rem;
    }
    &--active{
        background:$colour-lightprimary;
        & i{
            color:$colour-primary;
        }
    }
}
.restaurant{
    background: $colour-background;
    padding: $layout-margin 0 $layout-margin 0;

    & > h2{
        margin: 0 0 $grid-gutter $grid-gutter;
    }
    
    
}
.restaurant-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%;  
        & > a{
            width: 93%;
            background: transparent;
            margin-bottom: $grid-gutter;
            border-radius: 4rem;
        }
}
.restaurant-prev{
    /*background: url("../img/la_palette_du_gout.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    width: 100%;
    position: relative;
    min-width: 30rem;
    min-height: 35rem;
    border-radius: 2rem 2rem 3rem 3rem;
    @include shadow;
    &:hover{
        background:$colour-lightprimary;
    }
    &__status{
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        
        & span {
            margin-right: 30px;
            color: darken($colour-tertiary, 35%);
            background-color: $colour-tertiary;
            font-weight: 700;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 0.5rem;   
        }
    }
/*    &__img{
        border-radius: 2rem
    }*/
    & img{
        object-fit: cover;
        min-height: 0;
        width: 100%;
        border-radius: 2rem 2em 0 0;
        height:27rem;
    }
    &__info{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0 0 2rem 2rem;
        & i{
            margin-right: 10px;
        }
        
    } /*
    border-radius: 2rem;
    height: 35rem;

    @include shadow;*/

}