.menu-heading{
    width: 100%;
    height: 30rem;
    & img{
        object-fit: cover;
        min-height: 0;
        width: 100%;
        height: 30rem;
    }

}
.menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $colour-background;
}
.menu-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    bottom: 4rem;
    padding: 2*$grid-gutter 2*$grid-gutter;
    background-color: $colour-background;
    &__like{
        position: absolute;
        right: 3rem;
        bottom: 4rem;
        @include like;
    }
}
.menu-section{
    width: 90%;
    &__title{
        &--underline{
            background-color: $colour-tertiary;
            width: 5rem;
            height: 0.4rem;
            display: block;
            margin-top: 0.5rem;
        }
        
    }
    &__card{
        display: block;
        background-color: $colour-white;
        border-radius: 2rem;
        width: 100%;
        padding: $grid-gutter 0;
        margin: $grid-gutter 0;
        position: relative;
        top: 10rem;
        @include shadow;
        @include fadein;
        overflow: hidden;

        & > h4{
            margin: 0 $grid-gutter 0.5*$grid-gutter $grid-gutter;
        }
        &__sub{
            margin: 0 2*$grid-gutter 0 $grid-gutter;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            & > span{
                margin-right: 0;
                transition: all 0.3s ease-out;
                padding-left: $grid-gutter;
            }
            & > p{
                overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
        }
        &--hide {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            overflow: hidden;
            top: 0;
            right: 0;
            background-color: $colour-tertiary;
            height: 100%;
            width: 9rem;
            padding-right: 9px;
            margin-right: -10.5rem;
            transition: all 0.3s ease-out;
        }
          
        &--validate {
            color: $colour-white;
            transform: skew(-6deg);
            margin-left: -2px;
            margin-top: 9px;
            opacity: 0;     
        }
        
        &:hover {
            cursor: pointer;
            .menu-section__card--hide {
                margin-right: -12px;
            }
            .menu-section__card--validate {
                opacity: 1;
            }
            span{
                    margin-right: 9rem;
            }
            .fa-check-circle{
                transform: rotate(360deg);
            }    
            
        }      
    }
}
.fa-check-circle{
    transition: transform 0.4s ease-in-out;
}

.command__btn{
    @include btn;
    margin: $layout-margin 0;
    padding : $grid-gutter $layout-margin;
}
