@mixin btn{
    background: linear-gradient(175deg, $colour-secondary, $colour-primary);
    color: $colour-white;
    border-radius: 4rem;
    padding: $grid-gutter;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        background: linear-gradient(175deg, $colour-tertiary, darken($colour-tertiary, 30%));
    }
    
}

@mixin shadow{
    box-shadow: 0 1rem 1rem #e7e7e7;
}