/*Bouton*/
@mixin btn{
    background: linear-gradient(175deg, $colour-secondary, $colour-primary);
    color: $colour-white;
    border-radius: 4rem;
    padding: $grid-gutter;
    text-decoration: none;
    font-weight: 400;
    box-shadow:  0 1rem 1rem darken($colour-background,20%);
    cursor: pointer;
    &:hover{
        background: linear-gradient(175deg, $colour-secondary, lighten($colour-primary, 10%));
        box-shadow: 0 1rem 1rem darken($colour-background,30%);
    }
}
/*Ombre portée*/
@mixin shadow{
    box-shadow: 0 1rem 1rem #e7e7e7;
}
/*Animation menu fadein+slide-top*/
@mixin fadein {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fadein 2s both;
    opacity: 0;

    @-webkit-keyframes slide-top {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100px);
        }
    }
    @keyframes slide-top {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100px);
        }
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      animation-delay: 0.7s;
    }
}

/*Animation Like*/
@mixin like {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    width: 25px;
    height: 25px;
    display: block;
    .far{
        opacity: 1;
    }
    .fas {
      opacity: 0;
      background:linear-gradient(30deg, $colour-secondary, $colour-primary);
      background-clip: text;
      color:transparent;
      position: absolute;
      left: 0.25px;
      bottom: 0.25px;
      transition: opacity 0.4s ease-in-out;
      
      &:hover{
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    
    & > i{
        position: absolute;
    }
}

/*Loader*/
@mixin loading-spinner{      
    opacity: 1;
    z-index: 1;
    animation: fadeout 1s both ease-in-out;
    animation-delay: 1s;  
      & div {
        transform-origin: 40px 40px;
        animation: loading-spinner 0.9s linear infinite;
      }
      & div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 5px;
        height: 10px;
        background: $colour-icon;
      }
      & div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.8s;
      }
      & div:nth-child(2) {
        transform: rotate(40deg);
        animation-delay: -0.7s;
      }
      & div:nth-child(3) {
        transform: rotate(80deg);
        animation-delay: -0.6s;
      }
      & div:nth-child(4) {
        transform: rotate(120deg);
        animation-delay: -0.5s;
      }
      & div:nth-child(5) {
        transform: rotate(160deg);
        animation-delay: -0.4s;
      }
      & div:nth-child(6) {
        transform: rotate(200deg);
        animation-delay: -0.3s;
      }
      & div:nth-child(7) {
        transform: rotate(240deg);
        animation-delay: -0.2s;
      }
      & div:nth-child(8) {
        transform: rotate(280deg);
        animation-delay: -0.1s;
      }
      & div:nth-child(9) {
        transform: rotate(320deg);
        animation-delay: -0s;
      }
      @keyframes loading-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fadeout {
        from{
          opacity: 1;
          visibility: visible;
        }
        to{
          opacity: 0;
          visibility: hidden;       
        }
      }
}        