$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99e2d0;
$colour-background: #f6f6f6;
$colour-lightprimary: #f5edff;
$colour-icon:#7e7e7e;
$colour-location:#eaeaea;
$colour-footer:#353535;
$colour-white: #fff;

$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;